#hd{
    ul.sns{
        li{
            transform: scale(0.85);
            &.on{
                svg{
                    path.target{
                        stroke: #EC9393 !important;
                    }
                }
            }
        }
    }
    ul.gnb{
        li{
            transform: scale(0.88);
           
           
            a.active{
                svg{
                    path{
                        stroke: #EC9393 !important;
                    }
                }

            }
       
        }
    }
}

#mainBanner{
    .swiper-slide{
        max-height:80vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
        
        height: 0;
        padding-top: 50%;
        @media (min-width:1280px) {
             
            height: 450px; 
            padding-top: 0;

        }
        
    }
}

.hotmain{
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 1389 689' fill='none' %3E%3Cpath d='M27.0009 21C-17.9256 31.8646 11.5058 487 11.5022 523.5C11.502 577 6.50005 682.95 79.5032 685.56C122.873 684.404 340.123 685.401 383.5 685.56C483.646 689.985 1241.26 677.966 1341.36 681.428C1392.5 681.428 1382.51 655.549 1385.59 633.649C1391.01 595.027 1378 340.418 1378 301.5C1378 245 1399 8.46819 1328.5 8.46864C1269.21 -4.57586 1056.47 5.86852 996.397 8.4679C961.858 9.96239 736.548 19.6666 702 21C658.009 23.6311 323.5 21 323.5 21C323.5 21 71.9273 10.1354 27.0009 21Z' stroke='black' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
}

.moving-outline {
      
    stroke-dasharray: 474;    
    animation: menulineani 2s ease-in ;    
    animation-fill-mode: forwards;    
    stroke-dashoffset: -474; 
    
    }

@keyframes menulineani {
    0%{
        stroke-dashoffset:-474;
    }
      
    to {
    
        stroke-dashoffset: 0; 
    
    }
    
    
} 